<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{layout :: template (~{:: .container})}">
<head>
</head>


<body>

<div class="container">

    <h1>Fill the absence date:</h1>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"></label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Date" th:field="*{date}">
        <a type="button" class="btn btn-secondary" th:href="@{/overview}">Confirm</a></td>
    </div>


</div>



</body>
</html>