<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{layout :: template (~{:: .container})}">
<head>
</head>


<body>

<div class="container">
    <div class="card bg-dark text-white">
        <img th:src="@{/img/people-working.jpg}" class="card-img" alt="Working together.">
        <div class="card-img-overlay d-flex justify-content-center align-items-center">
            <a type="button" class="btn btn-success btn-sm p-3 mb-2 border border-white border-opacity-50"
               th:href="@{/time-log}">Log the absence here</a>
        </div>
    </div>
</div>

</body>
</html>