<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{layout :: template (~{:: .container})}">
<head>
</head>

<body>
<div class="container">
    <h1>Data overview</h1>

<table class="table">
<tr>
    <td>
        <div>
            <h5>Absence reason:</h5>
            <p th:each="selectedAbsenceReason : ${selectedAbsenceReasons}"
               th:text="${selectedAbsenceReason.reason}"
            ></p>
        </div>
    </td>
<td>
    <div>
        <h5>Employee name:</h5>
        <p th:each="selectedEmployee : ${selectedEmployees}"
           th:text="${selectedEmployee.employee}"
        ></p>
    </div>
</td>


    <td>
        <div>
            <h5>Absence month:</h5>
            <p th:each="selectedMonth : ${selectedMonths}"
               th:text="${selectedMonth.month}"
            ></p>
        </div>
    </td>

    <td>
        <div>
            <h5>Absence day:</h5>
            <p th:each="selectedDay : ${selectedDays}"
               th:text="${selectedDay.day}"
            ></p>
        </div>
    </td>


</tr>


</table>



</div>
</body>
</html>